<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Safety First</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">News</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="discussion">Discussion</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="training">Training</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="know-it">Know It</a></li>
        </ul>
    </div>
</nav>
